@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --background: #1E1E1E;
    --text: #F5F3F4;
    --hidentext: #ACACAC;
    --header1: #E14242;
    --header2: #1BE6B0;
    --link1: #FFBA08;
    --link2: #68B5FC;
    --purple: #B56AE5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);
}

h1 {
  color: var(--header1);
}

h2 {
  color: var(--header2);
}

.social a:hover {
  color: var(--hidentext);
}

.lang-select {
  position: absolute;
  top: 0px;
}
.lang-select button:hover {
  color: var(--hidentext);
}

header {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scroll-hint {
  width: 30px;
  position: absolute;
  top: 90%;
}

.conteiner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.hiden-text {
  color: var(--hidentext);
}

.skills-got {
  color: var(--purple);
}

.border-style {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}

.border-style a {
  color: var(--link1) !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.border-style a:hover {
  color: #ba8704 !important;
}

.link-2 {
  color: var(--link2) !important;
  text-decoration: underline !important;
  cursor: pointer;
}
.link-2:hover {
  color: #5691c7 !important;
}

.f-me a {
  color: var(--link1) !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.f-me a:hover {
  color: #ba8704 !important;
}

.other-c a {
  text-decoration: underline !important;
  cursor: pointer;
}

.soc-li a{
  color: var(--link2) !important;
}
.soc-li a:hover {
  color: #5691c7 !important;
}

.cv a {
  color: var(--link2) !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.cv a:hover {
  color: #5691c7  !important;
}

.cv-arrow {
  width: 20px;
}

footer {
  background-color: #0B090A;
  text-align: center;
}